@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-color: #09090b; /* zinc-950 */
  color: #f4f4f5; /* zinc-100 */
}
